<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>

</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	<h1></h1>
	<div class="container">
		<br>
		<h5>Below you can choose type of booking to add</h5>
		<hr>
		<br>
		
		  <form th:action="@{/myCabinet/edit/add/new}">
			<div th:each="temp : ${types}">
				<button type="submit" th:name="type" th:value="*{temp}" class="btn btn-secondary btn-lg btn-block">Click here to add new 
					<div th:text="*{temp}"> route</div>
				</button><br>
    		</div>
    		
		</form>
		<a href="/login">Login</a> <a href="/tripForm">TripForm</a>
	</div>

</body>
</html>