<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>

</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
<div class="container">
	<div class="jumbotron">
		<form action="" th:action="@{/process/booking}" method="POST"
			th:object="${way}">
			<h3>Trip details</h3>
			Operator: <a th:href="@{/companies/company(id=${way.companyProvider.id})}" th:text="*{companyProvider.companyName}" ></a>
			<br>
			<br> Departure date: <span th:text="*{departureDate}" />

			Arrival date: <span th:text="*{arrivalDate}" /> <br> Price per 1
			seat: <span th:text="*{price}" /> <br> Enter number of
			seats: <input type="number" value="1" min="1" max="8" step="1" name="numberOfTickets">
			<br> <br>
			<h6>Please pick the package of your booking</h6>
			<br>
			
		
			<input type="hidden" name="id" th:value="${way.id}">
			<input type="hidden" name="ufn" th:value="${way.ufn}">
			<input type="hidden" name="companyProvider.id" th:value="${way.companyProvider.id}">
			<input type="hidden" name="companyProvider.companyName" th:value="${way.companyProvider.companyName}">
							 
			<input type="hidden" name="price" th:value="${way.price}">
			<input type="hidden" name="departureDate" th:value="${way.departureDate}"> 
			<input type="hidden" name="arrivalDate" th:value="${way.arrivalDate}">
			<input type="hidden" name="locationFrom" th:value="${way.locationFrom}"> 
			<input type="hidden" name="locationTo" th:value="${way.locationTo}">
			<input type="hidden" name="ticketsAvailable" th:value="${way.ticketsAvailable}">
						
			<input type="submit" value="Book"class="btn btn-outline-dark" />
		</form>
	</div>
</div>

	

</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</html>