<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>
</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	<div class="container">
		<br><br>
		<div th:if="${commercialAccountById==null}">
			No company with this id found
		</div>
	<br>
		<div th:if="${commercialAccountById!=null}">
	  	<h4 th:text="*{commercialAccountById.companyName}" class="display-4"></h4>
	  	<br>
	  	Address<p th:text="*{commercialAccountById.address}"></p>
	  	Contacts
	  	Telephone:<p th:text="*{commercialAccountById.telephone}"></p>
	  	Email:<p th:text="*{commercialAccountById.userProfile.user.email}"></p>
		</div>
	 </div>
</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>

</html>