<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>
</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	
	<div class="container">
	<br>
	  <h1 class="display-4">TRANSPORT COMPANIES</h1>
	  	<br>
	  	<table class="table	">
	  	<tbody>
	  	<tr th:each="temp,iStat:${commercialAccounts}" style="list-style-type:none">
	  		<td th:text="*{iStat.index}+1" class="text-center"></td>
	  		<td class="text-left">
	  			<h3 th:text="*{temp.companyName}"></h3>
	  			<br>
	  			Transport types: <h5 th:text="*{temp.transportTypes}"></h5>
	  			<!--  <a th:href="@{}">Details</a>-->
	  		</td>
	  		<td class="text-center">
	  			<a href="#" th:href="@{/companies/company(id=${temp.id})}">Details
	  			</a>
	  		</td>
	  		</tr>
	  	</tbody>
	  	</table>
	  </div>


</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</html>