<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>
</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	<h1></h1>
	<div class="container">	
		<br><br>
		<div class="d-flex justify-content-center">
			<div class="col-md-6 mb-1">
				<form action="" th:action="@{/registration/confirm}" th:object="${modelUniqueId}" method="POST">
					<h4>Please enter confirmation code:</h4>
					<br>
					<input type="text" th:field="*{uniqueId}" class="col-md-6 mb-8" required>
					<input type="hidden" th:field="*{email}">
					<input type="hidden" th:field="*{count}">			
					<input type="submit" value="Register">
				</form>	
			</div>
		</div>
	</div>
</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</html>