<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">How To Get</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/tripForm">Search
					Way<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/loading">Transport
					Companies <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/contacts">Information
					<span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item active" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/user(id=${#authentication.name})}" >My Cabinet<span class="sr-only">(current)</span>				
				</a>
			</li>
			



		</ul>
		     <form action="#" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
        		<input type="submit" value="Logout" class="btn btn-primary-outline">
			</form>
			
			
			<div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/registration/newUser}">Registration<span class="sr-only">(current)</span></a>
			</div>
        	
	        <div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/loginURL}">Login<span class="sr-only">(current)</span></a>
			</div>
        	
        	
	</div>
</nav>
</head>
<body>
	<div class="container">
		<br>
		
		<form action="#" th:action="@{/process}" th:object="${tripObject}"
			method="post">
			<div class="col-md-12 mb-3">
				  <h3>Pick the details of your future trip</h3>
				  <br>
				  <div class="form-row">
					    <div class="col">
							<label>Departure location</label> 
								<select th:field="*{locationFrom}" class="form-control">
									<option th:each="location : ${locations}"   th:value="${location}"  th:text="${location}">Departure location</option>
								</select> 
						</div>
			    		<div class="col">
							<label>Arrival location</label> 
								<select th:field="*{locationTo}" class="form-control">	
									<option  th:each="location : ${locations}" th:value="${location}" th:text="${location}">Arrival location</option>
								</select> 
						</div>
					</div>
					</div>
					<div class="col-md-6 mb-3">
						<label>Departure date</label> 
						
							<input type="date" th:field="*{departureDate}" class="form-control" required/> 
						
						<br>
					</div>
					
					<div class="col-md-6 mb-3">
						<div class="form-row">
							<div class="col"> 
								<input type="checkbox" th:field="*{types}" th:checked="${true}" value="FLIGHT">
								<label>Pick the flight</label>
							</div>												
							<div class="col">
								<input type="checkbox" th:field="*{types}" th:checked="${true}" value="BUS">
								<label>Pick the bus</label>
							</div>
							<br>
						</div>
					
					<span th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="error"></span>
					<p th:text="${errorStatus}" class="error" />
			
					<button type="submit" class="btn btn-outline-dark">Send</button>
					
					</div>
		</form>
	</div>
</body>
</html>

