<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>
</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	<div class="container">
		<br>
		
		<form action="#" th:action="@{/process}" th:object="${tripObject}"
			method="post">
			<div class="col-md-12 mb-3">
				  <h3>Pick the details of your future trip</h3>
				  <br>
				  <div class="form-row">
					    <div class="col">
							<label>Departure location</label> 
								<select th:field="*{locationFrom}" class="form-control">
									<option th:each="location : ${locations}"   th:value="${location}"  th:text="${location}">Departure location</option>
								</select> 
						</div>
			    		<div class="col">
							<label>Arrival location</label> 
								<select th:field="*{locationTo}" class="form-control">	
									<option  th:each="location : ${locations}" th:value="${location}" th:text="${location}">Arrival location</option>
								</select> 
						</div>
					</div>
					</div>
					<div class="col-md-6 mb-3">
						<label>Departure date</label> 
						
							<input type="date" th:field="*{departureDate}" class="form-control" required/> 
						
						<br>
					</div>
					
					<div class="col-md-6 mb-3">
						<div class="form-row">
							<div class="col"> 
								<input type="checkbox" th:field="*{types}" th:checked="${true}" value="FLIGHT">
								<label>Pick the flight</label>
							</div>												
							<div class="col">
								<input type="checkbox" th:field="*{types}" th:checked="${true}" value="BUS">
								<label>Pick the bus</label>
							</div>
							<br>
						</div>
					
					<span th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="error"></span>
					<p th:text="${errorStatus}" class="error" />
			
					<button type="submit" class="btn btn-outline-dark">Send</button>
					
					</div>
		</form>
	</div>
</body>
</html>

