<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">How To Get</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/tripForm">Search
					Way<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/loading">Transport
					Companies <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/contacts">Information
					<span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item active" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/user(id=${#authentication.name})}" >My Cabinet<span class="sr-only">(current)</span>				
				</a>
			</li>
			



		</ul>
		     <form action="#" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
        		<input type="submit" value="Logout" class="btn btn-primary-outline">
			</form>
			
			
			<div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/registration/newUser}">Registration<span class="sr-only">(current)</span></a>
			</div>
        	
	        <div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/loginURL}">Login<span class="sr-only">(current)</span></a>
			</div>
        	
        	
	</div>
</nav>
</head>
<body>
	<div class="container">
	
		
		<form th:action="@{/myCabinet/edit/add/save}" >
			<div class="col-md-6 mb-3">
			
			<input type="hidden" th:name="type" th:value="${type}">
			<input type="hidden" th:field="*{way.id}" th:value="${way.id}">
			<br>
			<div th:if="${way.id>0}">
			<b>Way Id: </b><span th:text="*{way.id}"></span>
			</div>
			<div th:if="${way.id==null}">
				<h4>Form to add new <span th:text=${type}/></h4>
			</div>
			
			<input type="hidden" th:field="*{way.companyProvider}" th:value="*{way.companyProvider}">
			
			<br>
			
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">Location from</span>
				  </div>
			   <input type="text" th:field="*{way.locationFrom}" th:value="${#strings.capitalizeWords(way.locationFrom)}" placeholder="Please enter location from" 
			   class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
			<div th:if="${#fields.hasErrors('way.locationFrom')}" th:errors="*{way.locationFrom}" class="error"></div>
			<br>
			
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">Location to</span>
				  </div>
			   <input type="text" th:field="*{way.locationTo}" th:value="${#strings.capitalizeWords(way.locationTo)}"  placeholder="Please enter location to" 
			   class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
			<div th:if="${#fields.hasErrors('way.locationTo')}" th:errors="*{way.locationTo}" class="error"></div>	
			<br>
			
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">Departure date</span>
				  </div>
				<input type="datetime-local" th:field="*{way.departureDate}" placeholder="Please enter departure date" 
				class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
			<div th:if="${#fields.hasErrors('way.departureDate')}" th:errors="*{way.departureDate}" class="error"></div>
			<br>
			
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">Arrival date</span>
				  </div>
				<input type="datetime-local" th:field="*{way.arrivalDate}" placeholder="Please enter arrival date" 
				class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
			<div th:if="${#fields.hasErrors('way.arrivalDate')}" th:errors="*{way.arrivalDate}" class="error"></div>
			<br>
			
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
				  </div>
				<input type="text" th:field="*{way.price}" placeholder="Enter price" 
				class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
			<div th:if="${#fields.hasErrors('way.price')}" th:errors="*{way.price}" class="error"></div>
			<br>
			
			<div th:if="${way.id==null}">
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">UFN</span>
				  </div>
			 	<input type="text" th:field="*{way.ufn}" th:value="${#strings.toUpperCase(way.ufn)}" placeholder="Enter UFN" 
			 	aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
			<div th:if="${#fields.hasErrors('way.ufn')}" th:errors="*{way.ufn}" class="error"></div>
			<br>
			</div>
			<div th:if="${way.id!=null}">
				<input type="hidden" th:field="*{way.ufn}" th:value="*{way.ufn}"/>
			</div>
			
			
			
			<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="inputGroup-sizing-default">Tickets available</span>
				  </div>
				<input type="number" min="10" th:field="*{way.ticketsAvailable}" placeholder="Enter number of available tickets" required>
			<span th:if="${#fields.hasErrors('way.ticketsAvailable')}" th:errors="*{way.ticketsAvailable}" class="error"></span>
			</div>
			<div th:if="${#fields.hasErrors('way')}" th:errors="*{way}" class="error"></div> 
			<br>
			<button type="submit" th:text="Save" class="btn btn-primary btn-lg"></button>
			</div>
		</form>
	</div>

</body>
</html>