<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>

</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	
	<div class="jumbotron">
	  <h1 class="display-4">Welcome to HowToGet application!</h1>
	  <p class="lead">This is the application that can help you to book flight or bus from one location to another!</p>
	  <hr class="my-4">
	  <p>You can click on "Search Way" and start booking immediately, but you have to authenticate first. If you don't have account please follow simple registration procedure.</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>


</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</html>