<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>

</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	<div class="container">
	<br><br>
		<h3>My cabinet</h3>
		<br>
		<div if:th="${#authentication.name==param.id}">
			<b>Logged user:</b> <span sec:authentication="name"
				th:text="${#authentication.name}">Name</span>
				<br><br>
			<b>First name:</b> <span th:text="${user.firstName}">User's first name</span>
				<br><br>
			<b>Last name:</b> <span th:text="${user.lastName}">User's last name</span>
				<br><br>
			<b>Age:</b> <span th:text="${user.age}">User's age</span>
		</div>
		<br>
		<div class="row">
			<div class="col-1 col-md-2">
				<form th:action="@{/myOrders}">
					<button type="submit"  class="btn btn-outline-success" >My orders</button>
				</form>
			</div>
			
		<div class="col-1 col-md-2" sec:authorize="hasRole('ROLE_PROVIDER')">
			<form th:action="@{/myCabinet/edit}">
				<button type="submit"  class="btn btn-outline-success" >Manage</button>
			</form>
		</div>
		</div>
		</div>
</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</html>