<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
.active{
	color:white
}
.nonactive{
	color:black
}
.pagination{
	text-align: justify
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">How To Get</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/tripForm">Search
					Way<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/loading">Transport
					Companies <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/contacts">Information
					<span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item active" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/user(id=${#authentication.name})}" >My Cabinet<span class="sr-only">(current)</span>				
				</a>
			</li>
			



		</ul>
		     <form action="#" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
        		<input type="submit" value="Logout" class="btn btn-primary-outline">
			</form>
			
			
			<div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/registration/newUser}">Registration<span class="sr-only">(current)</span></a>
			</div>
        	
	        <div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/loginURL}">Login<span class="sr-only">(current)</span></a>
			</div>
        	
        	
	</div>
</nav>
</head>
<body>
	<h1></h1>
	<div class="container">
			<br>
	
		<form th:action="@{/myCabinet/edit/add}">
			<button type="submit" class="btn btn-outline-success">Add new route</button>
		</form>
		<br>
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<tr>
					<th>ID in table</th>
					<th>Company</th>
					<th>Price</th>
					<th>Departure date</th>
					<th>Arrival date</th>
					<th>Departure from</th>
					<th>Arrival to</th>
					<th>Tickets</th>
					<th width="200px">MANAGE</th>
				</tr>
				</tr>
			</thead>
			<tbody>
				<tr th:each="way,index:${page.content}">
					<td th:text="*{way.id}"></td>
					<td th:text="*{way.CompanyProvider}"></td>
					<td th:text="*{way.price}"></td>
					<td th:text="*{way.departureDate}"></td>
					<td th:text="*{way.arrivalDate}"></td>
					<td th:text="*{way.locationFrom}"></td>
					<td th:text="*{way.locationTo}"></td>
					<td th:text="*{way.ticketsAvailable}"></td>
					<td >
						<form action="#" th:action="@{/myCabinet/edit/edit/save}" th:object="${way}" method="POST" style="display:inline">
							<input type="hidden" name="id" th:value="${way.id}" >
							<input type="hidden" name="ufn" th:value="${way.ufn}"> 
							<input type="hidden" name="companyProvider"	th:value="${way.companyProvider}"> 
							<input type="hidden" name="price" th:value="${way.price}"> 
							<input type="hidden" name="departureDate" th:value="${way.departureDate}"> 
							<input type="hidden" name="arrivalDate" th:value="${way.arrivalDate}"> 
							<input type="hidden" name="locationFrom" th:value="${way.locationFrom}">
							<input type="hidden" name="locationTo" th:value="${way.locationTo}">
							<input type="hidden" name="ticketsAvailable" th:value="${way.ticketsAvailable}">
							<button type="submit" th:text="Edit" class="btn btn-outline-primary"></button>
						</form>
					
						<form action="#" th:action="@{/myCabinet/edit/remove}" th:object="${way}" method="POST" style="display:inline">
							<input type="hidden" name="id" th:value="${way.id}" >
							<input type="hidden" name="ufn" th:value="${way.ufn}"> 
							<input type="hidden" name="companyProvider"	th:value="${way.companyProvider}"> 
							<input type="hidden" name="price" th:value="${way.price}"> 
							<input type="hidden" name="departureDate" th:value="${way.departureDate}"> 
							<input type="hidden" name="arrivalDate" th:value="${way.arrivalDate}"> 
							<input type="hidden" name="locationFrom" th:value="${way.locationFrom}">
							<input type="hidden" name="locationTo" th:value="${way.locationTo}">
							<input type="hidden" name="ticketsAvailable" th:value="${way.ticketsAvailable}">
							<button type="submit" th:text="Remove" class="btn btn-outline-danger"></button>
						</form>
					
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-center">
			<span th:if="${page.totalPages > 0}" class="d-inline p-2 bg-dark text-white"
			    th:each="pageNumber : ${pageNumbers}">
			    <a th:href="@{/myCabinet/edit(size=${page.size}, page=${pageNumber})}"
			        th:text="${pageNumber}"
			        th:class="${pageNumber==page.number+1} ? active:nonactive"></a>
			</span>
		</div>
		<br>
		<br>
		<br>
	</div>

</body>
</html>