<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
.active{
	color:white
}
.nonactive{
	color:black
}
.pagination{
	text-align: justify
}
</style>
</head>
<header>
	<nav th:replace="~{fragments/navbar :: navBar}">
	</nav>
</header>
<body>
	<h1></h1>
	<div class="container">
			<br>
	
		<form th:action="@{/myCabinet/edit/add}">
			<button type="submit" class="btn btn-outline-success">Add new route</button>
		</form>
		<br>
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<tr>
					<th>ID in table</th>
					<th>Company</th>
					<th>Price</th>
					<th>Departure date</th>
					<th>Arrival date</th>
					<th>Departure from</th>
					<th>Arrival to</th>
					<th>Tickets</th>
					<th width="200px">MANAGE</th>
				</tr>
				</tr>
			</thead>
			<tbody>
				<tr th:each="way,index:${page.content}">
					<td th:text="*{way.id}"></td>
					<td th:text="*{way.CompanyProvider.companyName}"></td>
					<td th:text="*{way.price}"></td>
					<td th:text="*{way.departureDate}"></td>
					<td th:text="*{way.arrivalDate}"></td>
					<td th:text="*{way.locationFrom}"></td>
					<td th:text="*{way.locationTo}"></td>
					<td th:text="*{way.ticketsAvailable}"></td>
					<td >
						<form action="#" th:action="@{/myCabinet/edit/edit/save}" th:object="${way}" method="POST" style="display:inline">
							<input type="hidden" th:name="id" th:value="${way.id}" >
							<input type="hidden" th:name="ufn" th:value="${way.ufn}"> 
							<input type="hidden" th:name="price" th:value="${way.price}"> 
							<input type="hidden" th:name="companyProvider.id" th:value="${way.companyProvider.id}">
							<input type="hidden" th:name="departureDate" th:value="${way.departureDate}"> 
							<input type="hidden" th:name="arrivalDate" th:value="${way.arrivalDate}"> 
							<input type="hidden" th:name="locationFrom" th:value="${way.locationFrom}">
							<input type="hidden" th:name="locationTo" th:value="${way.locationTo}">
							<input type="hidden" th:name="ticketsAvailable" th:value="${way.ticketsAvailable}">
							<button type="submit" th:text="Edit" class="btn btn-outline-primary"></button>
						</form>
					
						<form action="#" th:action="@{/myCabinet/edit/remove}" th:object="${way}" method="POST" style="display:inline">
							<input type="hidden" name="id" th:value="${way.id}" >
							<input type="hidden" name="ufn" th:value="${way.ufn}"> 
							<input type="hidden" name="price" th:value="${way.price}"> 
							<input type="hidden" name="departureDate" th:value="${way.departureDate}"> 
							<input type="hidden" name="arrivalDate" th:value="${way.arrivalDate}"> 
							<input type="hidden" name="locationFrom" th:value="${way.locationFrom}">
							<input type="hidden" name="locationTo" th:value="${way.locationTo}">
							<input type="hidden" name="ticketsAvailable" th:value="${way.ticketsAvailable}">
							<button type="submit" th:text="Remove" class="btn btn-outline-danger"></button>
						</form>
					
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-center">
			<span th:if="${page.totalPages > 0}" class="d-inline p-2 bg-dark text-white"
			    th:each="pageNumber : ${pageNumbers}">
			    <a th:href="@{/myCabinet/edit(size=${page.size}, page=${pageNumber})}"
			        th:text="${pageNumber}"
			        th:class="${pageNumber==page.number+1} ? active:nonactive"></a>
			</span>
		</div>
		<br>
		<br>
		<br>
	</div>
</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</html>