<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">How To Get</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/tripForm">Way
					Finder <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/loading">Transport
					Companies <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/contacts">Contacts
					<span class="sr-only">(current)</span>
			</a></li>

			<li class="nav-item active" sec:authorize="!isAuthenticated()">
				<a class="nav-link" href="/registration/newUser">Registration<span
					class="sr-only">(current)</span>
			</a>
			</li>

			<li class="nav-item active" sec:authorize="isAuthenticated()"><a
				class="nav-link" th:href="@{/user(id=${#authentication.name})}"
				th:text="${#authentication.name}">My Cab<span class="sr-only">(current)</span>
			</a></li>



			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/tripForm">Action</a> <a
						class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div></li>

		</ul>
		<div sec:authorize="isAuthenticated()">This content is only
			shown to authenticated users.</div>
		<form action="#" th:action="@{/logout}" method="POST"
			sec:authorize="isAuthenticated()">
			<input type="submit" value="Logout" class="btn btn-primary-outline">
		</form>


		<p class="tab"></p>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
</head>

<body>


	<div class="container">
		<br> <br>
		<h2>My orders</h2>
		<br>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Description</th>
					<th scope="col">Price to pay</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order,iStat: ${ordersFlight}">
					<th th:text="${iStat.index}+1"></th>
					<td th:text="'Company: '+${order.way.companyProvider}+' Departure: '+${order.way.departureDate}
					+' Number of seats: '+${order.numberOfTickets}"></td>
					<td th:text="'Price to pay: '+${#numbers.formatDecimal(order.way.price*(order.numberOfTickets),2,2)}+'$'"></td>
					<td>
						<form th:action="@{/myOrders/cancel}" th:method="POST"> 
							<input type="hidden" th:value="${order.id}" name="id">
							<input type="hidden" th:value="${order.way.ufn}" name="ufn">
							<input type="submit" value="Cancel"/>	
						</form>
					</td>
				</tr>
			</tbody>
		</table>
				<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Description</th>
					<th scope="col">Price to pay</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order,iStat: ${ordersBus}">
					<th th:text="${iStat.index}+1"></th>
					<td th:text="'Company: '+${order.way.companyProvider}+' Departure: '+${order.way.departureDate}
					+' Number of seats: '+${order.numberOfTickets}"></td>
					<td th:text="'Price to pay: '+${#numbers.formatDecimal(order.way.price*(order.numberOfTickets),2,2)}+'$'"></td>
					<td>
						<form th:action="@{/myOrders/cancel}" th:method="POST">
							<input type="hidden" th:value="${order.way.ufn}" name="ufn"> 
							<input type="hidden" th:value="${order.id}" name="id">
							<input type="submit" value="Cancel"/>	
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<br>
	</div>
</body>
</html>