<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">How To Get</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/tripForm">Search
					Way<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/loading">Transport
					Companies <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/contacts">Information
					<span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item active" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/user(id=${#authentication.name})}" >My Cabinet<span class="sr-only">(current)</span>				
				</a>
			</li>
			



		</ul>
		     <form action="#" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
        		<input type="submit" value="Logout" class="btn btn-primary-outline">
			</form>
			
			
			<div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/registration/newUser}">Registration<span class="sr-only">(current)</span></a>
			</div>
        	
	        <div class="nav-item active" sec:authorize="!isAuthenticated()">	
					<a style="color:black;padding-right: 20px;" th:href="@{/loginURL}">Login<span class="sr-only">(current)</span></a>
			</div>
        	
        	
	</div>
</nav>
</head>
<body>
	<div class="container">
	<br>
		Search results:
		<span th:text="${tripObject}" />
		
		<div th:if="${buses != null}">
		<br>
		<h3>Buses</h3>
		<br>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Company</th>
					<th>Price</th>
					<th>Departure date</th>
					<th>Arrival date</th>
					<th>Departure from</th>
					<th>Arrival to</th>
					<th># of tickets</th>
					<th>Book</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bus,iterStat : ${buses}">
					<td th:text="${bus.ufn}"></td>
					<td th:text="${bus.companyProvider}"></td>
					<td th:text="${bus.price}"></td>
					<td th:text="${#strings.replace(bus.departureDate,'T',' ')}"></td>
					<td th:text="${#strings.replace(bus.arrivalDate,'T',' ')}"></td>
					<td th:text="${bus.locationFrom}"></td>
					<td th:text="${bus.locationTo}"></td>
					<td th:text="${bus.ticketsAvailable}"></td>
					<td>
						<form th:action="@{/process/book}" th:object="${buses}"
							method="POST">
							<input type="hidden" name="id" th:value="${bus.id}"> 
							<input type="hidden" name="ufn" th:value="${bus.ufn}"> <input
								type="hidden" name="companyProvider"
								th:value="${bus.companyProvider}"> <input type="hidden"
								name="price" th:value="${bus.price}"> <input
								type="hidden" name="departureDate"
								th:value="${bus.departureDate}"> <input type="hidden"
								name="arrivalDate" th:value="${bus.arrivalDate}"> <input
								type="hidden" name="locationFrom" th:value="${bus.locationFrom}">
							<input type="hidden" name="locationTo"
								th:value="${bus.locationTo}"> 
							<input type="hidden" name="ticketsAvailable" th:value="${bus.ticketsAvailable}">
								
								<input type="submit"
								value="Book" />
					</td>
					</form>

				</tr>
			</tbody>
		</table>
		</div>
		<div th:if="${flights != null}">
			<br>
			<h3>Fligths</h3>
			<br>
			<table th:if="${flights != null}" class="table">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Company</th>
						<th>Price</th>
						<th>Departure date</th>
						<th>Arrival date</th>
						<th>Departure from</th>
						<th>Arrival to</th>
						<th># of tickets</th>
						<th>Book</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flight,iterStat : ${flights}">
						<td th:text="${flight.ufn}"></td>
						<td th:text="${flight.companyProvider}"></td>
						<td th:text="${flight.price}"></td>
						<td th:text="${#strings.replace(flight.departureDate,'T',' ')}"></td>
						<td th:text="${#strings.replace(flight.arrivalDate,'T',' ')}"></td>
						<td th:text="${flight.locationFrom}"></td>
						<td th:text="${flight.locationTo}"></td>
						<td th:text="${flight.ticketsAvailable}"></td>
						<td>
							<form th:action="@{/process/book}" th:object="${buses}"
								method="POST">
								<input type="hidden" name="id" th:value="${flight.id}">
								<input type="hidden" name="ufn" th:value="${flight.ufn}">
								<input type="hidden" name="companyProvider"
									th:value="${flight.companyProvider}"> <input
									type="hidden" name="price" th:value="${flight.price}">
								<input type="hidden" name="departureDate"
									th:value="${flight.departureDate}"> <input
									type="hidden" name="arrivalDate" th:value="${flight.arrivalDate}">
								<input type="hidden" name="locationFrom"
									th:value="${flight.locationFrom}"> <input type="hidden"
									name="locationTo" th:value="${flight.locationTo}"> 
							<input type="hidden" name="ticketsAvailable" th:value="${flight.ticketsAvailable}">
									<input
									type="submit" value="Book" />
						</td>
						</form>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>