<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Processing Form page</title>
<style>
.error {
	color: red;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">How To Get</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/tripForm">Way
					Finder <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/loading">Transport
					Companies <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/contacts">Contacts
					<span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item active" sec:authorize="!isAuthenticated()">
			<a class="nav-link" href="/registration/newUser">Registration<span class="sr-only">(current)</span>
			</a>
			</li>
			
			<li class="nav-item active" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/user(id=${#authentication.name})}" >My Cabinet<span class="sr-only">(current)</span>				
				</a>
			</li>
			
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/tripForm">Action</a> <a
						class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div></li>

		</ul>
			<div sec:authorize="isAuthenticated()">
			  This content is only shown to authenticated users.
			</div>
		     <form action="#" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
        		<input type="submit" value="Logout" class="btn btn-primary-outline">
			</form>
			
			
		<p class="tab"></p>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
</head>



<body>
	<h1></h1>
	<div class="container">
		<form action="" th:action="@{/registration/process}" th:object="${user}" method="POST">
			<br>
			<div class="col-md-6 mb-3">
			
		    <label>Email address</label>			
			<input type="email" class="form-control" th:field="*{email}" required>
			<div th:text="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
			
		
			<label>First name</label>
			<input type="text" th:field="*{firstName}" class="form-control" required>
			<span th:text="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
			<br>
			<label>Last name</label>   
			<input type="text" th:field="*{lastName}" class="form-control" required>
			<span th:text="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
			<br>			
			<label>Age</label>   
 			<input type="text" th:field="*{age}"  th:errorclass="fieldError" class="form-control" required>
			<span th:text="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span>
			<br>
			<label>Password</label>   
			<input type="password" th:field="*{password}" class="form-control" required>
			<small id="passwordHelpBlock" class="form-text text-muted">
  				Your password must be 6-20 characters long, contain letters and numbers.
			</small>
			<label>Repeat password</label>
			<input type="password" th:field="*{tempPassword}" class="form-control" required>
			
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
			
			<span th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="error"></span>
			<br>
			<input type="submit" value="Register" class="btn btn-outline-secondary">
			<input type="hidden" name="token" th:value="${token}"/>
			<span th:if="${invalidCode != 'null'}" th:text="${invalidCode}" class="error"></span>
			</div>
		</form>	
	
	</div>
</body>
</html>